/*{
   border: 1px solid hotpink;
   padding:2px;
}*/
.container{
   margin: 0 auto;
   width: 90%;
   max-width:960px;
   display: grid;
   grid-template-columns:260px 1fr 200px;
}

.is-current {
      background-color: black;
      color: white;
   }
header a {
   display: block;
   position:relative;
   font-family: 'Amatic SC';
   color:black;
   font-size:1em;
   letter-spacing: 10px;

}
header h1{
   transform:rotate(-90deg);
   position:absolute;
   z-index:100;
   top:70px;
   left:-160px;

}
.subHead{
   font-family: 'Amatic SC';
   font-size:3em;

}
.indexHead{
   grid-column:1/4;
}
header{
   grid-column:1 / 2;
}

main{
   grid-column: 1/4;
   align-self: end;
   font-family: 'Open Sans Condensed', sans-serif;
}

aside{
   grid-column: 2 / 4;
   align-self:end;
   font-family: 'Roboto', sans-serif;
   line-height: 10px;

}

footer{
   grid-column: 1 / 2;
   font-family: 'Anton', sans-serif;

}

nav{
   grid-column: 2 / 4;
   color:black;

}

nav ul{
   display: flex;
   justify-content: flex-end;
   list-style:none;


}

nav li{
   margin-left: 20px;
   font-family: 'Open Sans Condensed', sans-serif;
   }

a{
   color:black;
   text-decoration:none;
}
