.container {

	margin: 0 auto;
	width: 90%;
	max-width: 960px;

	display: grid;
	grid-template-columns: 230px 1fr 1fr;
}

header {
	grid-column: 1/2;
}

aside {
	grid-column: 2/4;
	align-self: end;
	font-style: italic;
}

ul {
	list-style-type: none;
}

main {
	grid-column: 1/4;
}

footer { grid-column: 1/2 }

nav {
	grid-column: 2/4;
}

nav ul {
	display: flex;
	justify-content: flex-end;
}

nav li { margin-left: 20px; }

header a {
	display: block;
	position: relative;
}

header h1 {
	transform: rotate(-90deg);
	position: absolute;
	z-index: 100;
	top: 45px;
	left: -105px;
}

 h1 {
	font-family: 'Staatliches', cursive;
	}

 h2 {
	font-family: 'Staatliches', cursive;
}
footer {
	font-family: 'Inconsolata', monospace;
}
p, nav, aside {
	font-family: 'Inconsolata', monospace;
}

.is-current {
	background-color: black;
	color: white ;
}
